doctype html 
html(lang="fr") 
head
meta(charset="UTF-8") 
title TaB - Tutoriel d'installation ArchLinux
link(href="/css/materialize.css", rel="stylesheet", type="text/css")
link(href='/css/theme.css', rel='stylesheet', type='text/css')
script(src="/js/materialize.js", type='text/javascript')
script(src="/js/jquery.js", type='text/javascript')
script(src="/js/effects.js", type='text/javascript') 
body 
block body 
