html(lang="fr") 
    head
        meta(charset="UTF-8") 
        title TaB - Tutoriel d'installation ArchLinux
        link(href="/css/materialize.css", rel="stylesheet", type="text/css")
        link(href='/css/theme.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    body 
        block body
